body {
    font-family: Arial, sans-serif;
    background-color: pink;
    text-align: center;
    margin: 0;
}

header {
    background-color: palegoldenrod;
    color: black;
    padding: 20px;
}

.container {
    margin: 20px auto;
    width: 50%;
    background-color: rgb(103, 55, 55);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

select {
    padding: 10px;
    margin: 10px;
}

button {
    padding: 10px 20px;
    background-color: #872b86;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #c73644;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}
